body {
    background-color: #f2f2f2; /* Light grey background color */
    margin: 0;
    padding: 0;
}

.content-container {
    margin: 50px auto; /* Center the container horizontally */
    padding: 250px;
    background-color: #d9d9d9; /* Slightly darker grey box color */
    border-radius: 20px; /* Optional: Add rounded corners */
    width: 80%; /* Set the width as a percentage of the viewport width */
    max-width: 425px; /* Set a maximum width for the container */
}

.password-requirements {
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

h1 {
    text-align: center; /* Center the text horizontally */
    margin-top: 0; /* Remove default margin from the top */
}

input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 12px;
    background-color: #00A859;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #00573F;
}